<h3> {{ leyenda }} </h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-outline-primary" (click)="cambiarValor(-5)" type="button"><i class="mdi mdi-minus"></i></button>
  </span>
  <input #txtPorcentaje [(ngModel)]="porcentaje" type="number" class="form-control" name="porcentaje" (ngModelChange)="onChanges($event)" [max]="100" [min]="0" />
  <span class="input-group-btn">
    <button class="btn btn-outline-primary" (click)="cambiarValor(5)" type="button"><i class="mdi mdi-plus"></i></button>
  </span>
</div>
